<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # 1) Força HTTPS (Redirecionamento 301 de HTTP para HTTPS)
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # 2) Fallback para SPA (React Router)
  # Qualquer rota que não seja arquivo (-f) ou diretório (-d) é repassada para index.html
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
